:root {
  --primary-color: #d1e3d0;
  --secondary-color: #21825c;
  --third-color: #e7f0e7;
  --box-shadow: 5px 10px 30px rgb(0, 0, 0, 0.2);
  --heading-font-family: "Neuton", serif;
  --default-font: "Roboto" sans-serif;
}

body {
  margin-top: 100px !important;
}

.home-contact {
  display: flex;
  justify-content: center;
}

.contact {
  color: white !important;
  background-color: var(--secondary-color) !important;
  opacity: 100;
  margin-top: 15px;
  border: 1px solid var(--secondary-color) !important;
  padding: 20px !important;
  margin: 15px !important;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: var(--box-shadow) !important;
}

.greeting,
.subheading,
p {
  text-align: center;
  margin: 0;
  font-family: var(--default-font);
  margin-bottom: 0 !important;
  font-weight: 500;
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-size: 50px !important;
}
.name {
  text-align: center;
  font-size: 80px !important;
  font-family: var(--heading-font-family);
}

.about-paragraphs {
  display: flex;
  margin: 15px 0;
}

.about-paragraphs p {
  background-color: var(--third-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
}

.items .nav-link {
  color: var(--secondary-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  font-weight: bold !important;
  color: var(--secondary-color) !important;
}

.btn-color {
  background: var(--third-color) !important;
  border: var(--third-color) !important;
  color: var(--secondary-color) !important;
  box-shadow: var(--box-shadow);
}
.navbar-logo {
  width: 130px;
}

.header,
.footer {
  background-color: var(--third-color);
  padding-top: 20px;
   border-radius: 10px
}

.footer {
  padding: 30px 120px;
}

.navbar {
  background-color: white;
}

.email-link {
  text-decoration: none;
  font-family: var(--default-font);
  font-weight: 500;
  font-size: 30px !important;
  color: black;
  opacity: 70%;
}

.email-link:hover{
  color: #21825c;
}

footer .social-links a {
    margin: 0 20px;
    color: var(--secondary-color);
    background: var(--primary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}

.github-link {
    text-decoration: none !important;
color: black !important;
  opacity: 70%;
}

.portrait {
  max-width: 80% !important;
}

.project-bar {
  padding-bottom: 15px;
}